<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Account</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
</head>
<body>

<div class="register-wrapper">
    <div class="register-box">

        <h1>Get Started</h1>
        <p class="subtitle">Create Account</p>

        {% if error %}
        <p class="error">{{ error }}</p>
        {% endif %}

        <form method="POST">

            <div class="input-box">
                <input type="text" name="username" placeholder="Username" required>
            </div>

            <div class="input-box">
                <input type="email" name="email" placeholder="E-mail" required>
            </div>

            <div class="input-box">
                <input type="password" name="password" placeholder="Password" required>
            </div>

            <select name="role" required>
                <option value="">Select Role</option>
                <option value="artist">Artist</option>
                <option value="customer">Customer</option>
            </select>

            <button type="submit" class="btn">Sign Up</button>
        </form>

        <p class="login-link">
            Already have an account?
            <a href="/login">Log in</a>
        </p>

    </div>
</div>
<script src="{{ url_for('static', filename='register.js') }}"></script>

</body>
</html>
